@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:100i,300,400|Vampiro+One');

* {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #171717;
}

nav {
    padding: 10px 0px 0px 0px;
}

main {
  background-color: #FEFFEA;
  padding: 30px 50px 100% 50px
}

footer {
  background-color: #171717;
  position: relative;
  width: 100%;
  bottom: 0px;
  height: 100px
}

nav a {
    color: #8EF9F3;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

header h1 {
  color: #FCFC62;
  font-family: 'Vampiro One';
  font-size: 48px;
  letter-spacing: 40px;
  margin: 0px;
  padding: 10px 0px;
}

h1 {
  color: #171717;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

h2 {
  color: #171717;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.landing {
  background-color: #171717;
  padding: 20px;
  margin: 50px 100px;
}

.point {
  margin: 10px;
}

.point-title {
  color: #8EF9F3;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 36px;
  text-align: left;
}

.point-description {
  font-family: 'Roboto';
  font-style: italic;
  color: #FEFFEA;
  padding-left: 50%;
  text-align: right;
}

.library {

}

.library, a {
    color: #171717;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    text-align: left;
    text-decoration: none;
}

.library, a, p {
  text-align: left;
}

.library, img {
  height: 300px;
}

.library, div {
  font-style: italic;
  text-align: left;
}

section, .album {
  text-align: left;
}

.album-details {
  display: inline-block;
  padding: 50px 50px;
}

button {
  background-color: #171717;
  border: none;
  color: #8EF9F3;
  width: 25px;
  height: 25px;
}

tr:hover .ion-play {
  display: block;
}

tr .ion-play,
tr .ion-pause,
tr:hover .song-number {
  display: none;
}

tr button:focus .ion-play,
tr button:focus .ion-pause {
  display: block;
}

tr button:focus .song-number {
  display: none;
}
